
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Blog Post</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form ng-submit="postYourBlog ()">
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <b>Title</b>
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" ng-model="p.title">
                        </div>
                        <div class="col-md-1">
                            <b>Description</b>
                        </div>
                        <div class="col-md-5">
                            <textarea type="text" class="form-control" ng-model="p.description"></textarea>
                        </div>
                    </div>
                </form>
                <br><br>
            </div>
        </div>
    </div>
</div>